<div class="header" #header>

  <div>
    <img src="/assets/images/logo.png">
  </div>

  <div class="menu">
    <div> <button mat-button (click)="scroll(header)">Home</button></div>
    <div> <button mat-button>Sobre</button></div>
    <div> <button mat-button>Faça parte</button></div>
    <div>
      <button class="portal" mat-button>Acessar portal</button>
    </div>
    
  </div>

  <div class="text">
    <h1><span>Lorem </span> ipsum ugiat</h1>
    <div class="description">
      Teste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste
      testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste
      testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste testeTeste
      testeTeste
    </div>
    <div class="buttons">
      <div>
        <button mat-button>Quero ajudar</button>
      </div>
      <div>
        <button mat-button>Preciso de ajuda</button>
      </div>
    </div>
  </div>
</div>