@import "~@angular/material/theming";
@include mat-core();

$angular-ssr-primary: mat-palette($mat-indigo);
$angular-ssr-accent: mat-palette($mat-orange, A200, A100, A400);

$angular-ssr-warn: mat-palette($mat-red);

$angular-ssr-theme: mat-light-theme($angular-ssr-primary, $angular-ssr-accent, $angular-ssr-warn);

@include angular-material-theme($angular-ssr-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  margin: 20px;
}

.flex-center {
    display: flex;
  justify-content: center;
  align-items: center;
}
